.gitignore
/Variáveis/nbproject/private/
/Variáveis/build/
/aula11/VariaveisInteiras/nbproject/private/
/aula11/VariaveisInteiras/build/
/aula12/LeituraDadosTeclado/nbproject/private/
/aula12/LeituraDadosTeclado/build/
/aula13/OperadoresAritimeticos/nbproject/private/
/aula13/OperadoresAritimeticos/build/
/aula14/IfElse/nbproject/private/
/aula14/IfElse/build/
/aula15/SwitchCase/nbproject/private/
/aula15/SwitchCase/build/
/aula19/Array/nbproject/private/
/aula19/Array/build/
/aula19/ExeVet01/nbproject/private/
/aula19/ExeVet01/build/
/aula19/Exe02/nbproject/private/
/aula19/Exe02/build/
/aula19/Exe03/nbproject/private/
/aula19/Exe03/build/
/aula24/Carro/nbproject/private/
/aula24/Carro/build/